{% extends 'skeleton_low.html.twig' %}

{% block title %}{{ parent() }}  TEMPO - Couleur du jour et de demain{% endblock %}

{% block body %}
        <div class="card-container">
            <div class="card">
                <div class="date-section">
                    {{ today_date }}
                </div>
                <div class="content-section content-{{ today_color }}">
                    <p>{{ french_trans_color(today_color) }} {% if not today_validated %}*{% endif %} {% include 'common/price.html.twig' with {'colorDay': todayColor} %}</p>
                    <span class="price">{{ todayColor.getUsedOnTotal }}</span>
                </div>
            </div>

            <div class="card">
                <div class="date-section">
                    {{ tomorrow_date }}
                </div>
                <div class="content-section  content-{{ tomorrow_color }}">
                    <p>{{ french_trans_color(tomorrow_color) }} {% if not tomorrow_validated %}*{% endif %} {% include 'common/price.html.twig' with {'colorDay': tomorrowColor} %}</p>
                    <span class="price">{{ tomorrowColor.getUsedOnTotal }}</span>
                </div>
            </div>
        </div>

    {%  if messages is not empty %}
        <section class="additional-section">
            <div class="section-content">
                <h3>Point d'informations : </h3>
                <ul>
                    {% for message in messages %}
                        <li>{{ message.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <br />
    {% endif %}
{% endblock %}
