{% extends 'skeleton.html.twig' %}

{% block title %}
    {{ parent() }} API Documentation
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css"
          crossorigin="anonymous">

    {{ parent() }}

    <style>
        .api-section {
            display: flex;
            background-color: #333;
            padding: 50px 0;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .api-entry {
            max-width: 800px;
            margin-top: 1rem;
            background-color: #444;
            color: #fdf6e3;
            border: solid 1px #333;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .api-header {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 0.5rem;
            border-bottom: solid 2px #333;
        }

        .api-header h3 {
            margin: unset;
            margin-right: 1rem;
            padding: unset;
        }

        .badge {
            display: inline-block;
            margin-left: 0.5rem;
            margin-right: 1rem;
            padding: 0.1rem 0.5rem;
            border: solid 1px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .badge-get {
            background: #00Ca1B;
            border: solid 1px #049418;
            color: #000;
        }

        code.json {
            background: #FBFCF8;
            margin: auto;
            width: calc(80% - 20px);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }


        @media (max-width: 768px) {
            .api-section {
                flex-direction: row;
            }

            .api-section p {
                width: calc(100% - 20px);
            }

            .api-entry {
                width: calc(100% - 20px);
            }

            .api-header {
                flex-direction: column;
                align-content: unset;
            }

            .api-header small {
                margin-bottom: 0.5rem;
                text-align: center;
            }

        }
    </style>
{% endblock stylesheets %}
{% block body %}
    <section class="api-section">
        <h2>Documentation de l'API TEMPO</h2>

        <div class="section-content">
            <p>L'accès à l'API se fait sans création de compte ou d'authentification particulière.</p>
            <p>Les données sont mises en cache à intervalle régulière, ainsi il n'est pas nécessaire de faire de multiples
                appels chaque jour, veuillez vous référer à chaque entrée d'API pour connaître la fréquence de
                rafraichissement des données.</p>

        </div>

        <div class="api-entry">
            <div class="api-header">
                <h3>
                    <span class="badge badge-get">GET</span>
                    <a href="{{ path('api_now') }}">/api/now</a>
                </h3>
                <small>Récupérer la couleur du jour et du lendemain</small>
            </div>
            <div class="api-content">
                <p>Les données sont mises à jour à minuit puis à 10h30 chaque jour.</p>
                <p>La date et l'heure sont celles du fuseau de  Paris.</p>
                <p>Pour l'attribut "color", R signifie un jour rouge, W un jour
                    blanc et B un jour bleu. Avant 10h30, le lendemain sera noté U pour inconnu.</p>
                <p>Tant que la couleur du jour n'est pas connue, les jours restant seront à -1</p>
                <p>Les messages d'absences sont les mêmes que ceux affiché sur la page principale du site.</p>
                <div class="json-content">
                    <pre>
                        <code class="json">
[
    "messages" :
        { "message de maintenance"
        },
    {
        "day":"2024-11-14 00:00:00Z",
        "color":"W",
        "blue_left":250,
        "white_left":10,
        "red_left":5
        "prices":
            {
                "startAt":"2024-02-01 00:00:00Z"
                "blueLowPrice":0.1296
                "blueHighPrice":0.1609
                "whiteLowPrice":0.1486
                "whiteHighPrice":0.1894
                "redLowPrice":0.1568
                "redHighPrice":0.7562
            }

    },
    {
        "day":"2024-11-15 00:00:00Z",
        "color":"W",
        "blue_left":-1,
        "white_left":-1,
        "red_left":-1,
        "prices":
            {
                "startAt":"2024-02-01 00:00:00Z"
                "blueLowPrice":0.1296
                "blueHighPrice":0.1609
                "whiteLowPrice":0.1486
                "whiteHighPrice":0.1894
                "redLowPrice":0.1568
                "redHighPrice":0.7562
            }
    }
]
                        </code>
                    </pre>
                </div>
            </div>
        </div>

        <div class="api-entry">
            <div class="api-header">
                <h3>
                    <span class="badge badge-get">GET</span>
                    <a href="{{ path('api_day', {'date': todayColor.day|format_datetime(locale='fr',pattern="YYYY-MM-dd")}) }}">/api/day/{{ todayColor.day|format_datetime(locale='fr',pattern="YYYY-MM-dd") }}</a>
                </h3>
                <small>Récupérer la couleur d'une journée en particulier</small>
            </div>
            <div class="api-content">
                <p>Les données sont mises à jour à minuit puis à 10h30 chaque jour.</p>
                <p>La date et l'heure sont celles du fuseau de  Paris.</p>
                <p>Pour l'attribut "color", R signifie un jour rouge, W un jour
                    blanc et B un jour bleu. Avant 10h30, le lendemain sera noté U pour inconnu.</p>
                <p>Les messages d'absences sont les mêmes que ceux affiché sur la page principale du site.</p>
                <div class="json-content">
                    <pre>
                        <code class="json">
[
    "messages" :
        { "message de maintenance"
        },
    {
        "day":"2024-11-14 00:00:00Z",
        "color":"W",
        "blue_left":250,
        "white_left":10,
        "red_left":5
        "prices":
            {
                "startAt":"2024-02-01 00:00:00Z"
                "blueLowPrice":0.1296
                "blueHighPrice":0.1609
                "whiteLowPrice":0.1486
                "whiteHighPrice":0.1894
                "redLowPrice":0.1568
                "redHighPrice":0.7562
            }
    }
]
                        </code>
                    </pre>
                </div>
                <div class="json-content">
                    <pre>
                        <code class="json">
[
    "message" : "La date YYYY-MM-DD ne peut être affichée.",
    "@see" :
        [
            "min" : "URI de la date la plus ancienne accessible"
            "max" : "URI de la date du lendemain"
        ]

]
                        </code>
                    </pre>
                </div>
            </div>
        </div>

        <div class="api-entry">
            <div class="api-header">
                <h3>
                    <span class="badge badge-get">GET</span>
                    <a href="{{ path('api_stats_users') }}">/api/stats/users</a>
                </h3>
                <small>Récupérer les statistiques anonymisées des accès utilisateurs</small>
            </div>
            <div class="api-content">
                <p>Cette entrée permet de récupérer les 365 derniers jours (hors jour en cours) de statistiques
                    anonymisées des accès utilisateurs aux différentes parties du site.</p>
                <p>Les données sont mises à jour chaque jour à minuit.</p>
                <p>La date et les heures sont celles du fuseau de Paris.</p>
                <p>L'attribut 'first_access' contient les heures de premier accès à chaque partie de l'application pour le jour 'day'.</p>
                <ul>
                    <li>web: correspond à l'affichage de la page d'accueil du site (ou de sa version <a href="{{ path('main_low') }}">LOW</a>)</li>
                    <li>api: correspond à l'accès à l'une des entrées concernant la couleur des jours, cela exclu cette page ainsi que les entrées d'api concernant les statistiques</li>
                    <li>rss: en cours de création</li>
                    <li>cal: correspond à l'accès à la page d'explication du calendrier</li>
                    <li>web_push: correspond à la souscription aux notifications push</li>
                </ul>
                <p>Une valeur null signifie qu'aucun accès n'a eu lieu pour le jour.</p>
                <p>L'attribut 'web_push_notification' contient le nombre total de souscriptions aux notifications push ainsi que le nombre de desinscriptions. Ces deux données sont mis à jour au moment de la découverte de la couleur du lendemain, soit vers 10h30, et non minuit.</p>
                <div class="json-content">
                    <pre>
                        <code class="json">
[
    {
        "day":"2023-08-25",
        "first_access":
            {
                "web":"10:12:31",
                "api":null,
                "rss":null,
                "cal":null,
                'web_push':null,
            }',
        "web_push_notification": {
                "total": 42,
                "unsubscribes": 0,
            },
    },
    {
        "day":"2023-08-26",
        "first_access":
            {
                "web":"17:55:16",
                "api":null,
                "rss":"14:12:45",
                "cal":null,
                "webPush":"09:14:23",
            },
        "web_push_notification": {
                "total": 30,
                "unsubscribes": 12,
            },
    }
]
                </code>
                    </pre>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}

{% block javascripts_bottom %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"
            crossorigin="anonymous"></script>
    <script>
        // Initialiser la coloration syntaxique pour le JSON
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>
{% endblock javascripts_bottom %}