{% extends 'skeleton.html.twig' %}

{% block title %}{{ parent() }}  TEMPO - Couleur du jour et de demain{% endblock %}

{% block body %}
    <section class="additional-section">
        <h2>Calendrier</h2>
        <div class="section-content">
            <p>Vous pouvez vous abonner au calendrier ICS (iCalendar) via ce lien <a
                        href="{{ path('ics') }}">{{ url('ics') }}</a></p>
            <p>Ce calendrier contient toutes les couleurs des jours précédents (dans la limite de la date de début de ce site)</p>
            <p>Il est mis à jour chaque jour vers 10h30 avec un événement pour le lendemain.</p>
        </div>
    </section>
{% endblock %}
