{% extends 'skeleton.html.twig' %}

{% block title %}
    {{ parent() }} CGU
{% endblock title %}
{% block body %}

    <div class="additional-section">
        <h2>CGU, politique de confidentialité et cookies</h2>
        <div class="section-content">
            <h3>A propos de Tempo</h3>
            <p>
                Tempo est un projet personnel qui n'a aucun lien avec RTE ou EDF. Les données exposées sont non
                contractuelles et proviennent de l'API RTE. Le code est ouvert et est distribué sous licence Creative
                commons By NC.
                <br />
                Le terme "Tempo", du nom de l'option tarifaire du founisseur d'électricité EDF, n'est ici utilisé que pour faciliter la compréhension des informations transmises par ce site.
                <br />
                Ce site n'a aucun but commercial.
            </p>
            <p>Ce site est hébergé chez OVH.</p>
            <ul>
                <li>Sources du projet : <a href="https://gitlab.com/dark-open/tempo">https://gitlab.com/dark-open/tempo</a></li>
                <li>Licence creative commons : <a href="http://creativecommons.org/licenses/by-nc/4.0/">http://creativecommons.org/licenses/by-nc/4.0/</a></li>
                <li>API RTE : <a href="https://data.rte-france.com/">https://data.rte-france.com/</a> </li>
            </ul>

        </div>
        <div class="section-content">
            <h3>Gestion des Cookies et des Informations Personnelles</h3>
            <p>
                Ce site n'utilise aucun cookie, aucun traqueur publicitaire. Aucune information personnelle n'est
                conservée.
            </p>
        </div>
        <div class="section-content">
            <h3>Statistiques</h3>
            <p>
                Le site peut être divisié en 5 parties, correspondants aux moyens de diffusion de l'information recueillie via l'API RTE :
            </p>
            <ul>
                <li>Les pages web, où l'information des couleurs est diffusée dans la barre de titre et sur la page principale</li>
                <li>L'API</li>
                <li>Les notifications push</li>
                <li>Le calendrier ics, mis à jour chaque jour lorsque la couleur est révélée</li>
                <li>Le flux RSS (en cours de création)</li>
            </ul>
            <p>
                Pour chacune de ces parties, des informations anonymes sont recueillies chaque jour. Le premier accès quotidien (la date et l'heure, heure de Paris)  à chacune des ces parties sont enregistrées à des fins statistiques.
                <br>
                Il y a également une partie regroupant le nombre total de souscriptions au service de notification web push, ainsi que le nombre de desinscription. Cest deux données ne sont pas mises à jour à minuit mais à 10h30 chaque jour.
            </p>
            <p>
                Par souci de transparence, vous pouvez récupérer ces données au format JSON, chaque jour les données des 365 jours précedents. <a href="{{ path('api_stats_users') }}">{{ url("api_stats_users") }}</a>
            </p>
        </div>
    </div>
{% endblock body %}