{% extends 'skeleton.html.twig' %}

{% set day_color = color_day_hash(dayColor.color.value) %}
{% set day_date = dayColor.day|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") | capitalize %}

{% block title %}{{ parent() }}  TEMPO - Le {{ dayColor.day |format_datetime(locale='fr',pattern="dd-MM-YYYY") }} est un jour {{ emoji(dayColor.color.value) | raw }} {% endblock %}

{% block body %}{# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="card-container">
        <div class="card">
            <div class="date-section">
                {{ day_date }}
            </div>
            <div class="content-section content-{{ day_color }}">
                {{ french_trans_color(day_color) }}
            </div>
        </div>
    </div>
{% endblock %}
