{% extends 'skeleton.html.twig' %}

{% block title %}{{ parent() }}  TEMPO - Couleur du jour et de demain{% endblock %}

{% block body %}
    <div class="card-container">
        <div class="card">
            <div class="date-section">
                {{ today_date }}
            </div>
            <div class="content-section content-{{ today_color }}">
                <p>{{ french_trans_color(today_color) }} {% if not today_validated %}*{% endif %} {% include 'common/price.html.twig' with {'colorDay': todayColor} %}</p>
                <span class="price">{{ todayColor.getUsedOnTotal }}</span>
            </div>
        </div>

        <div class="card">
            <div class="date-section">
                {{ tomorrow_date }}
            </div>
            <div class="content-section  content-{{ tomorrow_color }}">
                <p>{{ french_trans_color(tomorrow_color) }} {% if not tomorrow_validated %}*{% endif %} {% include 'common/price.html.twig' with {'colorDay': tomorrowColor} %}</p>
                <span class="price">{{ tomorrowColor.getUsedOnTotal }}</span>
            </div>
        </div>
    </div>

    {%  if messages is not empty %}
        <section class="additional-section">
            <div class="section-content">
                <h3>Point d'informations : </h3>
                <ul>
                    {% for message in messages %}
                        <li>{{ message.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <br />
    {% endif %}

    <section class="additional-section">
        <div class="section-content">
            <p>Chaque jour, à 10h30, retrouvez la couleur du jour et du lendemain correspondant à l'option TEMPO de chez
                EDF. Une estimation est affichée à 6h30, mais n'est confirmée que vers 10h30. Cette estimation n'est visible que sur les pages web, représentée par un "*" et l'API de ce site.</p>
            <p>L'objectif de ce site est de proposer l'information fournie par RTE sous divers medium, comme cette page
                web, une api, un calendrier iCalendar (bientôt), des notifications push (sauf pour Apple) et un flux RSS (bientôt).
                <br/>
                <br/>Si vous souhaitez intégrer une page web dans votre domotique, vous pouvez utiliser cette version très allégée : <a
                        href="{{ path('main_low') }}">{{ url('main_low') }}</a>. Elle est automatiquement rechargée, via javascript, à 00h, 6h et 10h35.</p>
        </div>
        <div class="section-content">
            <p>Après l'option de base, et l'option heures pleines/heures creuse, Tempo est la 3eme option disponible
                chez EDF.
                <br/>Cette grille tarifaire est particulièrement avantageuse pour les logements ayant un mode de
                chauffage alternatif à l'electricité.
                L'objectif pour EDF est d'inciter les usagers à reporter leur besoin en électricité les jours de forte
                demande, ils appliquent alors un tarif 3 fois supérieur au tarif de base.
                En contre partie, l'usager profite d'un tarif avantageux les autres jours.
                <br/></p>
            <p></p>
        </div>

    <div class="section-content">
        <p>Evitez de consommer pendant les jours rouges !</p>
        <table style="width: 100%; text-align: center;">
            <tr>
                <td class="table-case">&nbsp;</td>
                <td class="table-case content-blue">300 jours/an</td>
                <td class="table-case content-white">43 jours/an</td>
                <td class="table-case content-red" style="width: 25%; padding: 1rem;">22 jours/an</td>
            </tr>
            <tr>
                <td class="table-case table-bg-dark">Heures pleines<br/>22H à 6H</td>
                <td class="table-case content-blue">-30%</td>
                <td class="table-case content-white" >-10%</td>
                <td class="table-case content-red">3x plus cher</td>
            </tr>
            <tr>
                <td class="table-case table-border-dark">Heures creuses<br/>22H à 6H</td>
                <td class="table-case table-border-blue">-40%</td>
                <td class="content-white">-24%</td>
                <td class="table-case table-border-red">-15%</td>
            </tr>
        </table>
        <p>Le prix de l'electricité est moins cher pendant toute l'année, sauf pendant les heures pleines (6h à 22h) des 22 jours rouges.</p>
    </div>
    <div class="section-content">
        <p>Une année Tempo commence le 1er septembre et se termine le 31 août.</p>
        <p>Les jours <span class="content-red">rouges</span> sont entre le 1er novrembre et le 31 mars.</p>
        <p>Un jour Tempo commence à 6h00 du matin et se termine à 6h00 le lendemain matin.</p>
        <p>Il n'y a pas de jours <span class="content-red">rouges</span> le week-end et les jours fériés.</p>
        <p>Il n'y a pas de jours <span class="content-white">blancs</span> le dimanche, qui est donc toujours <span class="content-blue">bleu</span> de 6h00 du matin à 6h00 le lendemain matin.</p>
    </div>

</section>
{% endblock %}
