{% extends 'skeleton.html.twig' %}

{% block title %}
    {{ parent() }} Notifications Web
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        #push-permission {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }


    </style>
{% endblock stylesheets %}

{% block body %}
    <section class="additional-section">
        <h2>Notifications push web</h2>
        <div class="section-content">
            <p>Vous avez la possibilité de recevoir la couleur du lendemain directement par notification web.
                <br/>Si votre navigateur est compatible et que vous n'êtes pas en navigation privée, lorsque vous
                cliquez sur le bouton ci dessous, votre navigateur vous demandera si vous autorisez ce site à vous
                envoyer des notifications.
                <br/>En acceptant, vous recevrez une notifcation par jour avec la couleur du jour et du lendemain.
                <br/>Vous pouvez annuler à tout moment ces notifications directement dans votre navigateur.
            </p>
            <p>Il est possible que rien ne se passe lors du click sur le bouton. Vérifiez alors, surtout sur mobile, que
                vous n'avez pas bloqué toutes les notifications dans les paramètres du navigateur.</p>
        </div>

        <div class="section-content">
            <div id="push-permission">
                {{ form_start(form) }}
                {% if form_errors(form) %}
                    <div class="flash flash-error form-error">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
                <div class="form-content">
                    <div class="form-left">{{ form_widget(form.submit) }}</div>
                    <div class="form-right">
                        <label class="form-switch">
                            {{ form_widget(form.isBlue) }}
                            <i></i>
                            {{ form_label(form.isBlue) }}
                        </label>
                        <label class="form-switch">
                            {{ form_widget(form.isWhite) }}
                            <i></i>
                            {{ form_label(form.isWhite) }}
                        </label>
                        <label class="form-switch">
                            {{ form_widget(form.isRed) }}
                            <i></i>
                            {{ form_label(form.isRed) }}
                        </label>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <br />
        <div class="flash flash-info">Apple ne respectant pas le standard des API de notifications push, cette
            fonctionnalité n'est pas compatible avec les produits Apple (mobile ou non)
            <br/>Si un mécène souhaite m'aider à acheter un mac, cela peut évoluer :)
        </div>

    </section>
{% endblock body %}

{% block javascripts_bottom %}
    <script src="./sw.js"></script>
    <script>
        function main() {
            const button = document.getElementById("web_push_subscription_submit");
            if (!('Notification' in window)
                || !('serviceWorker' in navigator)
                || (Notification.permission !== 'default')
            ) {
                disableForm(button)
                return;
            }
            button.addEventListener("click", (e) => {
                e.preventDefault();
                askPermission(e);
            });
        }

        function disableForm(button) {
            button.classList.replace('btn-green', 'btn-disabled');
            button.setAttribute('disabled', 'disabled');
            button.innerText = "Déjà activé ou navigateur incompatible"
            const elementsTodisable = ['isBlue', 'isWhite', 'isRed'];
            for (const element of elementsTodisable) {
                const elt = document.getElementById("web_push_subscription_" + element);
                elt.removeAttribute('checked');
                elt.setAttribute('disabled', 'disabled');
            }
        }

        /**
         * @param {Event} event
         */
        async function askPermission(event) {
            const permission = await Notification.requestPermission()
            if (permission === 'granted') {
                await registerServiceWorker();
            }
        }

        async function registerServiceWorker() {
            const registration = await navigator.serviceWorker.register('sw.js');
            let subscription = await registration.pushManager.getSubscription();
            if (!subscription) {
                subscription = await registration.pushManager.subscribe({
                    userVisibleOnly: true,
                    applicationServerKey: await getPublicKey(),
                });

                if (subscription) {
                    await saveSubscription(subscription);
                }
            }
        }

        async function getPublicKey() {
            const {key} = await fetch('/api/notifications/web/key', {
                headers: {
                    Accept: 'application/json'
                }
            })
                .then(res => {
                    if (res.status >= 200 && res.status < 300) {
                        return res.json()
                    } else {
                        throw new Error();
                    }
                })
                .catch(err => console.error(err));

            return key;
        }

        /**
         * @param {PushSubscription} subscription
         * @returns {Promise<void>}
         */
        async function saveSubscription(subscription) {
            const jsonSubscription = subscription.toJSON();
            console.debug(subscription, jsonSubscription);
            const endpointElt = document.getElementById('web_push_subscription_endPoint');
            endpointElt.value = jsonSubscription.endpoint;

            const publicKeyElt = document.getElementById('web_push_subscription_publicKey')
            publicKeyElt.value = jsonSubscription.keys.p256dh;

            const authTokenElt = document.getElementById('web_push_subscription_authToken')
            authTokenElt.value = jsonSubscription.keys.auth;

            const form = document.getElementsByName('web_push_subscription')[0];
            form.submit();
        }

        main();
    </script>
{% endblock javascripts_bottom %}