{% set today_color = color_day_hash(todayColor.color.value) %}
{% set today_date = todayColor.day|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") | capitalize %}
{% set today_validated = todayColor.validated %}

{% set tomorrow_color = color_day_hash(tomorrowColor.color.value) %}
{% set tomorrow_date = tomorrowColor.day|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") | capitalize %}
{% set tomorrow_validated = tomorrowColor.validated %}

{% block main %}
{% endblock main %}