{% if colorDay.prices is not null %}
    {% if (colorDay.color.value == 'B') %}
        <span class="price">({{ colorDay.prices.blueLowPrice/10000 }} € - {{ colorDay.prices.blueHighPrice/10000}} €)</span>
    {% endif %}
    {% if (colorDay.color.value == 'W') %}
        <span class="price">({{ colorDay.prices.whiteLowPrice/10000 }} € - {{ colorDay.prices.whiteHighPrice/10000}} €)</span>
    {% endif %}
    {% if (colorDay.color.value == 'R') %}
        <span class="price">({{ colorDay.prices.redLowPrice/10000 }} € - {{ colorDay.prices.redHighPrice/10000}} €)</span>
    {% endif %}
{% endif %}