{% extends 'common/colorday.html.twig' %}

{% block main %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{{ get_env('OG_TITLE') }}">
        <meta property="og:description" content="{{ get_env('OG_DESCRIPTION') }}">
        <meta property="og:image" content="{{ get_env('OG_IMAGE') }}">
        <meta property="og:url" content="{{ get_env('OG_TITLE') }}">
        <meta property="og:type" content="website">

        <meta name="twitter:card" content="{{ get_env('OG_DESCRIPTION') }}">
        <meta name="twitter:title" content="{{ get_env('OG_TITLE') }}">
        <meta name="twitter:description" content="{{ get_env('OG_DESCRIPTION') }}">
        <meta name="twitter:image" content="{{ get_env('OG_IMAGE') }}">

        <title>{% block title %}{{ emoji(todayColor.color.value) | raw }} {{ emoji(tomorrowColor.color.value) | raw }} TEMPO |{% endblock %}</title>

        <link href="{{ asset('open-tempo.xml') }}" type="application/rss+xml" rel="alternate" title="Open Tempo RSS">
        <link rel="icon" href="{{ asset('images/logo_tempo.ico') }}">

        {% block stylesheets %}
            <style>
                body {
                    margin: 0;
                    padding: 0;
                    font-family: Arial, sans-serif;
                    display: flex;
                    flex-direction: column;
                    min-height: 100vh;
                    background-color: grey;
                    color: #fdf6e3;
                }

                a {
                    color: #FF8A00;
                    text-decoration: none;
                }

                a.white {
                    color: #FBFCF8;
                }

                a:hover {
                    color: #8f530c;
                }

                h1 a + a {
                    margin-left: 2rem;
                }

                h1.logo {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    flex-direction: row;
                    justify-content: center;
                    align-items: stretch;
                }

                h2 {
                    text-align: center;
                }

                h3 {
                    margin: 1rem auto auto auto;
                    padding: 0 0.5rem 0 0.5rem;
                }

                p {
                    margin: 1rem auto auto auto;
                    padding: 0 0.5rem 0 0.5rem;
                }
                header {
                    background-color: #333;
                    color: #fdf6e3;
                    padding: 10px 0;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }

                img.logo {
                    flex: 0.5;
                    width: 2rem;
                    height: 2rem;
                }

                main {
                    flex: 1;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding-top: 2vh;
                    padding-bottom: 2vh;
                }

                .card-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;
                }

                .card {
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    margin: 10px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    transition: transform 0.3s, box-shadow 0.3s;
                    width: calc(50% - 20px);
                    max-width: 500px;
                }

                .date-section {
                    background-color: #f6f6f6;
                    color: #333;
                    padding: 10px;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                    text-align: center;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .content-section {
                    background-color: green;
                    color: white;
                    padding: 1rem 0;
                    text-transform: uppercase;
                    text-align: center;
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-weight: bolder;
                }

                .additional-section, .legal-content {
                    background-color: #333;
                    color: #fdf6e3;
                    padding: 50px 0;
                }

                .section-content {
                    max-width: 800px;
                    margin: 0 auto;
                    text-align: left;
                }

                .section-content p {
                    font-size: 18px;
                    line-height: 1.6;
                }

                footer {
                    position: sticky;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: 0;
                    background-color: #333;
                    text-align: center;
                    padding: 10px 0;
                }

                .card.card {
                    margin-top: 1rem;
                }

                .content-blue {
                    color: #FFF !important;
                    background-color: #0066C5;
                }

                .content-red {
                    color: #FFF !important;
                    background-color: #C00300;
                }

                .content-white {
                    color: #000 !important;
                    background-color: whitesmoke;
                }

                .content-undefined {
                    color: #000 !important;
                    background-color: #FF8A00;
                }

                /* Styles pour le menu */
                .menu-icon {
                    display: none;
                    cursor: pointer;
                }

                .nav-list {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .nav-list li {
                    margin-right: 20px;
                }

                .nav-list a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    transition: color 0.3s;
                }

                .nav-list a:hover {
                    color: #f0f0f0;
                }

                .flash {
                    margin: auto;
                    padding: 0.5rem;
                    text-align: left;
                    width: 40%;
                    color: black;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }

                .flash+.flash {
                    margin-top: 0.5rem;
                }
                .flash-error {
                    background-color: #B92722;
                    border: solid #B92722 1px;
                }
                .flash-warning {
                    background-color: #F18A18;
                    border: solid #F18A18 1px;
                }
                .flash-info {
                    background-color: #5b9ddc;
                    border: solid #5B9DDC 1px;
                }
                .flash-success {
                    background-color: #39A91A;
                    border: solid #39A91A 1px;
                }

                .section-content+.section-content {
                    margin-top: 1rem;
                }
                .btn {
                    display: block;
                    padding: 0.75rem;
                    border-radius: 5px 5px 5px 5px;
                    -webkit-border-radius: 5px 5px 5px 5px;
                    -moz-border-radius: 5px 5px 5px 5px;
                    border: 1px solid #c5c5c5;
                }
                .btn-green {
                    background-color: #39A91A;
                    border-color: #2f8c13;
                }
                .btn-green:hover {
                    background-color: #3fbe1d;
                    border-color: #39A91A;
                }

                .btn-disabled {
                    background-color: #444444;
                }
                .btn-disabled {
                    cursor: not-allowed;
                }

                /* Gestion des formulaires */
                .form-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                }
                .form-right {
                    display: flex;
                    flex-direction: row;
                }
                .form-switch {
                    display: inline-block;
                    cursor: pointer;
                    -webkit-tap-highlight-color: transparent;
                }
                .form-switch i {
                    position: relative;
                    display: inline-block;
                    margin-right: .5rem;
                    width: 46px;
                    height: 26px;
                    background-color: #FBFCF8;
                    border-radius: 23px;
                    vertical-align: text-bottom;
                    transition: all 0.3s linear;
                }
                .form-switch i::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 42px;
                    height: 22px;
                    background-color: #FBFCF8;
                    border-radius: 11px;
                    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
                    transition: all 0.25s linear;
                }
                .form-switch i::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 22px;
                    height: 22px;
                    background-color: #FBFCF8;
                    border-radius: 11px;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
                    transform: translate3d(2px, 2px, 0);
                    transition: all 0.2s ease-in-out;
                }
                .form-switch:active i::after {
                    width: 28px;
                    transform: translate3d(2px, 2px, 0);
                }
                .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
                .form-switch input { display: none; }
                .form-switch input:checked + i { background-color: #39A91A; }
                .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
                .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

                .form-switch+.form-switch {
                    margin-left: 0.5rem;
                }

                .form-error {
                    width: 70%;
                    margin-bottom: 0.5rem;

                }
                ul,.form-error {
                    list-style-type: none;
                }

                .table-case {
                    width: 25%;
                    padding: 1rem;
                }

                .table-bg-dark {
                    background-color: #151515;
                }

                .table-border-dark {
                    border: solid 0.5rem #151515;
                }

                .table-border-blue {
                    border: solid 0.5rem #0066C5;
                }

                .table-border-red {
                    border: solid 0.5rem #C00300;
                }

                span.price {
                    font-weight: normal;
                    font-size: small;
                }

                @media (max-width: 768px) {
                    header {
                        display: block;
                    }

                    .menu-icon {
                        right: 1rem;
                        display: flow;
                        position: fixed;
                        top: 1rem;
                    }

                    .nav-list {
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        background-color: #24292e;
                        z-index: 1;
                    }

                    .nav-list.show {
                        display: flex;
                    }

                    .nav-list li {
                        margin: 0;
                        padding: 10px 20px;
                        border-bottom: 1px solid #333;
                    }

                    .card-container {
                        align-items: center;
                    }

                    .card {
                        flex: 100%;
                        margin: 10px auto;
                        max-width: 75%;
                    }

                    .form-content {
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                    }
                    .form-right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .form-left {
                        margin-top: 1rem;
                    }
                    .form-switch+.form-switch {
                        margin-top: 0.5rem;
                    }
                }

                @media (min-width: 769px) {
                    main {
                        justify-content: center;
                    }

                    .card-container {
                        flex-direction: row;
                    }

                    .card {
                        /*max-width: calc(50% - 20px);*/
                    }

                    .card:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
                    }
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            <script>
                function toggleMenu() {
                    const navList = document.querySelector('.nav-list');
                    navList.classList.toggle('show');
                }
            </script>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1 class="logo">
                <a href="{{ path('main') }}">
                    <img src="{{ asset('images/logo_tempo.png') }}" class="logo"
                         alt="logo de l'application Tempo, un disque avec 4 couleurs et un eclair par dessus"/>
                </a>
                <a class="white" href="{{ path('main') }}">TEMPO</a>

            </h1>
            <div class="menu-icon" onclick="toggleMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <path d="M4 7h22v3H4zm0 6h22v3H4zm0 6h22v3H4z"/>
                </svg>
            </div>
            <ul class="nav-list">
                <li><a href="{{ path('web_push') }}">Notifications</a></li>
                <li><a href="{{ path('calendar') }}">Calendrier</a></li>
                <li><a href="{{ path('rss') }}">RSS</a></li>
                <li><a href="{{ path('api_doc') }}">API</a></li>
                <li><a href="{{ path('cgu') }}">CGU</a></li>
            </ul>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <a href="{{ path('main') }}">Tempo</a>&nbsp;par Simon Lhoir 2023&nbsp;&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
        </footer>

        {% block javascripts_bottom %}
        {% endblock javascripts_bottom %}
    </body>
    </html>
{% endblock main %}

