{% extends 'common/colorday.html.twig' %}

{% block main %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{{ get_env('OG_TITLE') }}">
        <meta property="og:description" content="{{ get_env('OG_DESCRIPTION') }}">
        <meta property="og:image" content="{{ get_env('OG_IMAGE') }}">
        <meta property="og:url" content="{{ get_env('OG_TITLE') }}">
        <meta property="og:type" content="website">

        <meta name="twitter:card" content="{{ get_env('OG_DESCRIPTION') }}">
        <meta name="twitter:title" content="{{ get_env('OG_TITLE') }}">
        <meta name="twitter:description" content="{{ get_env('OG_DESCRIPTION') }}">
        <meta name="twitter:image" content="{{ get_env('OG_IMAGE') }}">

        <title>{% block title %}{{ emoji(todayColor.color.value) | raw }} {{ emoji(tomorrowColor.color.value) | raw }} TEMPO |{% endblock %}</title>

        <link href="{{ asset('open-tempo.xml') }}" type="application/rss+xml" rel="alternate" title="Open Tempo RSS">
        <link rel="icon" href="{{ asset('images/logo_tempo.ico') }}">

        {% block stylesheets %}
            <style>
                body {
                    margin: 0;
                    padding: 0;
                    font-family: Arial, sans-serif;
                    display: flex;
                    flex-direction: column;
                    min-height: 100vh;
                {% if darkTheme %}
                    background-color: #1C1C1C;
                {% else %}
                    background-color: grey;
                {% endif %}
                    color: #fdf6e3;
                }

                a {
                    color: #fdf6e3;
                    text-decoration: none;
                }

                a:hover {
                    color: #C00300;
                }

                h1 a + a {
                    margin-left: 2rem;
                }

                h1.logo {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    flex-direction: row;
                    justify-content: center;
                    align-items: stretch;
                }

                h2 {
                    text-align: center;
                }
                header {
                    background-color: #24292e;
                    color: white;
                    padding: 10px 0;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }

                img.logo {
                    flex: 0.5;
                    width: 2rem;
                    height: 2rem;
                }

                main {
                    flex: 1;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding-top: 2vh;
                    padding-bottom: 2vh;
                }

                .card-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;
                }

                .card {
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    margin: 10px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    transition: transform 0.3s, box-shadow 0.3s;
                    width: calc(50% - 20px);
                    max-width: 500px;
                }

                .date-section {
                    background-color: #f6f6f6;
                    color: #333;
                    padding: 10px;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                    text-align: center;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .content-section {
                    background-color: green;
                    color: white;
                    padding: 0.125rem 0;
                    text-transform: uppercase;
                    text-align: center;
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-weight: bolder;
                }

                .additional-section, .legal-content {
                    background-color: #333;
                    color: white;
                    padding: 50px 0;
                }

                .section-content {
                    max-width: 800px;
                    margin: 0 auto;
                    text-align: left;
                }

                .section-content p {
                    font-size: 18px;
                    line-height: 1.6;
                }

                .content-section p {
                    margin-bottom: 0.2rem;
                }

                footer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: 0;
                    background-color: #333;
                    color: white;
                    text-align: center;
                    padding: 10px 0;
                }

                .card.card {
                    margin-top: 1rem;
                }

                .content-blue {
                    color: #FFF !important;
                    background-color: #0066C5;
                }

                .content-red {
                    color: #FFF !important;
                    background-color: #C00300;
                }

                .content-white {
                    color: #000 !important;
                    background-color: whitesmoke;
                }

                .content-undefined {
                    color: #000 !important;
                    background-color: #FF8A00;
                }

                /* Styles pour le menu */
                .menu-icon {
                    display: none;
                    cursor: pointer;
                }

                .nav-list {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .nav-list li {
                    margin-right: 20px;
                }

                .nav-list a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    transition: color 0.3s;
                }

                .nav-list a:hover {
                    color: #f0f0f0;
                }

                @media (max-width: 768px) {
                    header {
                        display: block;
                    }

                    .menu-icon {
                        right: 1rem;
                        display: flow;
                        position: fixed;
                        top: 1rem;
                    }

                    .nav-list {
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        background-color: #24292e;
                        z-index: 1;
                    }

                    .nav-list.show {
                        display: flex;
                    }

                    .nav-list li {
                        margin: 0;
                        padding: 10px 20px;
                        border-bottom: 1px solid #333;
                    }
                    .card-container {
                        align-items: center;
                    }

                    .card {
                        flex: 100%;
                        margin: 10px auto;
                        max-width: 75%;
                    }
                }
                span.price {
                    font-weight: normal;
                    font-size: small;
                }
                @media (min-width: 769px) {
                    main {
                        justify-content: center;
                    }

                    .card-container {
                        flex-direction: row;
                    }

                    .card {
                        /*max-width: calc(50% - 20px);*/
                    }

                    .card:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
                    }
                }

            </style>
        {% endblock %}

        {% block javascripts %}
            <script>
                function toggleMenu() {
                    const navList = document.querySelector('.nav-list');
                    navList.classList.toggle('show');
                }

                function reloadPage() {
                    // Recharge la page
                    location.reload();
                }

                function scheduleReload() {
                    // Obtenir la date et l'heure actuelles
                    const now = new Date();
                    // Définir l'heure de recharge à 6h et 10h35 (en millisecondes)
                    const reloadTimes = [
                        {hour: 0, minutes: 0},
                        {hour: 6, minutes: 30},
                        {hour: 10, minutes: 35}].map(time => {
                        const reloadTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), time.hour, time.minutes, 0, 0);
                        let calc = reloadTime.getTime() - now.getTime();
                        if (calc < 0) {
                            const jourSuivant = new Date(reloadTime);
                            jourSuivant.setDate(reloadTime.getDate() + 1);
                            calc = jourSuivant.getTime() - now.getTime();
                        }
                        return calc;
                    });

                    // Trier les heures de recharge de manière croissante
                    reloadTimes.sort((a, b) => a - b);

                    // Planifier le rechargement tous les jours à l'heure spécifiée
                    reloadTimes.forEach(time => {
                        console.debug(time);
                        if (time > 0) {
                            setTimeout(reloadPage, time);
                        }
                    });
                }

                // Appeler la fonction pour la première fois
                scheduleReload();
            </script>
        {% endblock %}
    </head>
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <a href="{{ path('main') }}">Tempo</a>&nbsp;par Simon Lhoir 2023&nbsp;&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
        </footer>
    </body>
    </html>
{% endblock main %}